.nav-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.nav-link:hover {
  background-color: #ededed;
}

.nav-link:focus {
  color: inherit;
}

.nav {
  padding: 6px 2px;
}
